<ion-content>
	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button (click)="openAddPantryItem()">
			<ion-icon name="add-outline"></ion-icon>
		</ion-fab-button>
	</ion-fab>

	<ion-item>
		<ion-input placeholder="Search..." (keyup)="searchBoxChange($event)"></ion-input>
	</ion-item>

	<ion-list>
		<ion-list-header>
			<ion-label>Pantry</ion-label>
		</ion-list-header>
		<ion-item-sliding *ngFor="let pantryEntry of searchFilteredPantryItems">
			<ion-item-options>
				<ion-item-option color="success" (click)="itemOk(pantryEntry)">
					<ion-icon name="thumbs-up-outline"></ion-icon
				></ion-item-option>
				<ion-item-option color="warning" (click)="itemLow(pantryEntry)">
					<ion-icon name="trending-down-outline"></ion-icon>
				</ion-item-option>
				<ion-item-option color="danger" (click)="itemGone(pantryEntry)">
					<ion-icon name="alert-circle-outline"></ion-icon
				></ion-item-option>
				<ion-item-option color="danger" (click)="deleteItem(pantryEntry)">
					<ion-icon name="trash-outline"> </ion-icon>
				</ion-item-option>
			</ion-item-options>
			<ion-item class="ion-padding'start" [color]="getColor(pantryEntry)">
				{{ pantryEntry[1].name }}
			</ion-item>
		</ion-item-sliding>
	</ion-list>
</ion-content>
